/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 25%;
  max-height: 25%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
